.active
{
    background-color: aqua;
    margin: 2px;
    border-radius: 5%;
}

.noactive
{
    border: 1px solid red;
    margin: 2px;
    border-radius: 5%; 
}

.item
{
    /*background-image: linear-gradient(to right, #e4fee8 , #22c1c3);*/
}

