<div id=container>
  <table>
    <tr>
      <td colspan="3" style="text-align: center; vertical-align: bottom;">
        <img mat-card-avatar src="/assets/images/flag.png" [@mainPanel]="statePanel">
        <img mat-card-avatar src="/assets/images/u_flag.png" [@mainPanel]="statePanel">
      </td>
    </tr>
    <tr>
      <td style="text-align: right; vertical-align: bottom;">
        <img id="leftIco" src="/assets/images/boxx.png" [@icoLState]="state">
      </td>
      <td>
        <mat-card style="z-index: 5" [@mainPanel]="statePanel">
          <button mat-button (click)="returnToLogin()">
            <mat-icon>keyboard_arrow_left</mat-icon> Return to Login Form
          </button>
          <mat-card-title>
            <p style="text-align: center">Reset Password</p>
          </mat-card-title>
          <form class="login-form" (ngSubmit)="onSubmit(f)" #f="ngForm">
            <mat-form-field class="full-width">
              <input matInput placeholder="Email" name="email" ngModel required>
            </mat-form-field>

            <div class="btnHolder">
              <button id="logIn" mat-raised-button>Send</button>
            </div>
          </form>
        </mat-card>
      </td>
      <td style="text-align: left; vertical-align: bottom;">
        <img id="rightIco" src="/assets/images/boxx.png" [@icoRState]="state">
      </td>
    </tr>
  </table>
</div>