<!--<span id="loginFormWrap">
  <form class="login-form" (ngSubmit)="onSubmit(f)" #f="ngForm">
    <mat-form-field class="full-width">
      <input matInput placeholder="Login" name="login" ngModel required>
    </mat-form-field>

    <mat-form-field class="full-width">
      <input type="password" matInput placeholder="Password" name="password" ngModel required>
    </mat-form-field>

    <div class="btnHolder">
      <button id="logIn" mat-raised-button>Log In</button>
    </div>
  </form>
</span>-->


<div id="loginFormWrap">
  <mat-card>
    <mat-card-title>Enter to system</mat-card-title>
    <form class="login-form" (ngSubmit)="onSubmit(f)" #f="ngForm">
      <mat-form-field class="full-width">
        <input matInput placeholder="Login" name="login" ngModel required>
      </mat-form-field>

      <mat-form-field class="full-width">
        <input type="password" matInput placeholder="Password" name="password" ngModel required>
      </mat-form-field>

      <div class="btnHolder">
        <button id="logIn" mat-raised-button>Log In</button>
      </div>
    </form>
  </mat-card>
</div>