.login-form {
  min-width: 150px;
  max-width: 500px;
}

.full-width {
  width: 100%;
}

#loginFormWrap{
  position: absolute;
  top: 0;
  left: 0;
  right: 0;
  bottom: 0;
  margin:auto;
  width: 300px;
  height: 192px;
  border-radius: 5%;
}

#logIn{
  position: relative;
  margin-left: 10px;
  width: 90px;
  height: 40px;
  background-color: lightcyan;
}

.btnHolder
{
  text-align: center;
}

a
{
  color:lightblue;
  text-decoration: none;  
}

a:hover
{
  color:violet;
  text-decoration: none;  
}

#leftSide,#middleSide,#rightSide
{
  border:1px solid red;
  display: inline;
}

#container
{
    position: absolute;
    top: 50%;
    left: 50%;
    transform: translateX(-50%) translateY(-50%);
}

#leftIco
{
  height: 100px;
  width: 100px;
}

#topIco
{
  height: 100px;
  width: 300px;
}


#rightIco
{
  height: 100px;
  width: 100px;
}