<mat-card>
  <mat-card-title>Change password</mat-card-title>
  <mat-card-content>
      <mat-slide-toggle (change)="onChange($event)"
      [(ngModel)]="isChecked">Show Passwords</mat-slide-toggle>
      <form class="register-form" (ngSubmit)="onSubmit(f)" #f="ngForm">
        <mat-form-field class="full-width">
          <input [type]="typeInput" matInput placeholder="Old Password" name="oldPassword" ngModel required>
        </mat-form-field>

        <mat-form-field class="full-width">
          <input [type]="typeInput" matInput placeholder="New Password" name="newPassword" ngModel required>
        </mat-form-field>

        <mat-form-field class="full-width">
          <input [type]="typeInput" matInput placeholder="Confirm New Password" name="passwordConfirm" ngModel
            required>
        </mat-form-field>

        <div class="btnHolder">
          <button id="registerIn" mat-raised-button>Change</button>
        </div>
        <div style="margin: 10px;">*After changing password you should login again with new password</div>
      </form>
  </mat-card-content>
</mat-card>