<mat-card>
  <mat-card-title>Testing</mat-card-title>
  <mat-card-content>
    <button mat-raised-button matTooltip="Start testing" style="background-color: green; color:white; margin: 10px;"
      (click)="startTest()" *ngIf="!isTestStarted">Start</button>
    <mat-card *ngIf="isTestStarted">
      <mat-card-title>{{currentNum}}/{{countNum}}</mat-card-title>
      <mat-card-content>
        <mat-card id="taskWord">{{taskWord}}</mat-card>
        <table id="answersWord">
          <tr>
            <td>
              <mat-card>{{answers[0]}}</mat-card>
            </td>
            <td>
              <mat-card>{{answers[1]}}</mat-card>
            </td>
          </tr>
          <tr>
            <td>
              <mat-card>{{answers[2]}}</mat-card>
            </td>
            <td>
              <mat-card>{{answers[3]}}</mat-card>
            </td>
          </tr>
        </table>
      </mat-card-content>
      <mat-card-footer style="text-align: right; margin:10px;">
          <button mat-icon-button aria-label="Example icon-button with a heart icon">
              <mat-icon>arrow_forward_ios</mat-icon>
            </button>
      </mat-card-footer>
    </mat-card>
  </mat-card-content>
</mat-card>