#taskWord
{
    width: 150px;
    margin:0 auto;
    text-align: center;
    font-size: 30px;
    font-weight: 600;
}

#answersWord{
    margin: 0 auto;
    margin-top: 10px !important;
}

table tr > td > mat-card{
    margin: 25px;
    width: 150px;
    height: 40px;
    text-align:center;
}

.selected{
    background-color: green;
    color:white;
}

.non-selected{
    background-color: white;
    color:black;
}