<h1 mat-dialog-title>Add word</h1>
<mat-dialog-content>
  <form class="login-form" (ngSubmit)="onSubmit(f)" #f="ngForm">
    <mat-form-field class="full-width">
      <input matInput placeholder="Word" name="word" ngModel required>
    </mat-form-field>

    <mat-form-field class="full-width">
      <input matInput placeholder="Translation" name="translation" ngModel required>
    </mat-form-field>

    <mat-form-field class="full-width">
      <mat-label>Word's type</mat-label>
      <mat-select [(value)]="selected">
        <mat-option *ngFor="let type of types" [value]="type.id">
          {{type.name}}
        </mat-option>
      </mat-select>
    </mat-form-field>
    <button mat-button>Add</button>
    <button mat-button (click)="cancel()">Cancel</button>
  </form>
</mat-dialog-content>